/**
* Lexicon 0.2.8
*
* Copyright 2016, Liferay, Inc.
* All rights reserved.
* MIT license
*/
@import "../../aui_variables";
@import "fonts/alloy-font-awesome/scss/variables";

@import "atlas-theme/variables";
@import "bootstrap/variables";

@import "../../liferay_variables_custom";
@import "../../liferay_variables";