/wiki-engine-mediawiki/src/main/resources/ApplicationResources.properties
/wiki-engine-mediawiki/src/main/resources/interwiki.properties
/wiki-engine-mediawiki/src/main/resources/jamwiki-configuration.xml
/wiki-engine-mediawiki/src/main/resources/logging.properties