.my-subscriptions-portlet {
	.asset-name {
		font-size: 12px;
		font-weight: bold;

		input {
			display: none;
		}
	}

	.results-row.asset-name {
		&.alt td, td {
			background: #DCDCDC;
		}
	}

	.unsubscribe {

		.lexicon-icon {
			color: #51A1F0;
			height: 40px;
			width: 40px;
		}
	}
}