{namespace ImageEditorRotateComponent}

/**
 * Image Editor Rotate Component
 *
 * @param key
 */
{template .render}
	<div id="{$key}">
		<a class="btn btn-link icon-reply icon-monospaced" data-onclick="rotateLeft" href="javascript:;"></a>
		<a class="btn btn-link icon-share-alt icon-monospaced" data-onclick="rotateRight" href="javascript:;"></a>
	</div>
{/template}