.portlet-trash {
	.asset-ratings {
		clear: both;
		margin: 1em 0;
	}

	.asset-discussion .taglib-discussion {
		width: 100%;
	}

	.aui-search-bar {
		display: block;
		float: right;
	}

	.trash-root-entry {
		color: #999;
		float: right;
	}
}
