@import "compass";

.portlet-document-library-display {
	.entry-metadata {
		.entry-title {
			display: block;

			@include ellipsis;

			font-size: 1.15em;
			font-weight: bold;
		}

		.entry-description {
			@include hyphenation;
		}
	}

	.view-folders .repository-error {
		background-color: #FDD;
		color: #5B677D;

		td {
			background-color: #FDD;
		}
	}

	.file-entry-tags {
		margin-top: 5px;
	}

	.folder-search {
		float: right;
		margin: 0 0 0.5em 0.5em;
	}

	.search-root-entry {
		color: #999;
		float: right;
	}

	.entry-thumbnail {
		float: left;
		margin-right: 1em;
		position: relative;

		.thumbnail {
			max-height: 128px;
			max-width: 128px;
		}
	}

	.taglib-webdav {
		margin-top: 3em;
	}

	.taglib-workflow-status {
		margin-bottom: 5px;
	}

	.app-view-entry-taglib.entry-display-style {
		&.display-icon, &.display-descriptive {
			.entry-thumbnail .taglib-workflow-status {
				left: 6px;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 4px;

				.workflow-status {
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	.app-view-entry-taglib.entry-display-style.display-icon {
		.entry-thumbnail .taglib-workflow-status {
			left: 6px;
		}

		.entry-title {
			@include ellipsis;

			overflow: hidden;
			position: relative;
			white-space: nowrap;
		}

		.entry-title-text {
			background: url() no-repeat 0 50%;
		}

		&.upload-error, &.upload-success, &.upload-warning {
			.entry-title-text {
				padding-left: 20px;
			}
		}

		&.upload-error .entry-title-text {
			background-image: url(@theme_image_path@/messages/error.png);
		}

		&.upload-success .entry-title-text {
			background-image: url(@theme_image_path@/messages/success.png);
		}

		&.upload-warning .entry-title-text {
			background-image: url(@theme_image_path@/messages/alert.png);
		}
	}
}

.ie6 .portlet-document-library-display {
	img.entry-thumbnail {
		height: expression(this.height > 128 ? '128px' : this.height);
		width: expression(this.width > 128 ? '128px' : this.width);
	}
}