.freeform .portlet {
	margin-bottom: 0;
}

body.portlet {
	border-width: 0;
}

.portlet-topper {
	position: relative;

	.portlet-topper-toolbar {
		.portlet-icon-back {
			background: url(../images/arrows/12_left.png) no-repeat 0 50%;
			padding: 5px 5px 5px 18px;
		}

		.portlet-options .lfr-icon-menu-text {
			display: none;
		}
	}
}

.portlet-title-default img {
	vertical-align: middle;
}

.portlet-title-editable {
	cursor: pointer;
}

.portlet-title-text {
	display: inline-block;

	@include ellipsis;

	max-width: 95%;
	vertical-align: top;
}

.panel-page-content, .panel-page-body {
	.portlet-title-text {
		cursor: auto;
	}
}

.portlet-content, .portlet-minimized .portlet-content-container {
	padding: 12px 10px 10px;
}

.portlet-minimized .portlet-content {
	padding: 0;
}

.portlet-nested-portlets .portlet-boundary {
	left: 0 !important;
	position: relative !important;
	top: 0 !important;
}

.portlet-content {
	.lfr-icon-actions {
		float: left;
		margin: 1px 10px 1px 1px;

		opacity: 0.5;

		padding: 2px 7px;

		.lfr-icon-menu-text, .taglib-text {
			color: #FFF;
			display: none;
			font-weight: bold;
			margin-right: 1em;
			text-decoration: none;
			vertical-align: middle;
		}

		.lfr-icon-action {
			a {
				color: #FFF;
				display: inline-block;
				margin-left: 5px;
				vertical-align: top;

				&:hover {
					text-decoration: none;

					span {
						text-decoration: underline;
					}
				}
			}

			&.lfr-icon-menu .btn.dropdown-toggle {
				text-align: left;
			}
		}
	}
}

.portlet-draggable {
	.portlet-topper {
		cursor: move;
	}

	.portlet-title-default {
		background: url(../images/portlet/draggable_borderless.png) no-repeat 0 50% transparent;
		cursor: move;
		padding-left: 20px;
	}
}