{namespace ImageEditorSaturationComponent}

/**
 * Image Editor Saturation Component
 *
 * @param key
 * @param requestEditorPreview
 */
{template .render}
	<div id="{$key}">
		{call Slider.render}
			{param key: 'saturationSlider' /}
			{param events: [
				'valueChanged': $requestEditorPreview
			] /}
		{/call}
	</div>
{/template}